.octopus{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.octopus_text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 25px;
    font-size: large;
}